body {
    background: linear-gradient(45deg,rgb(33, 39, 28),rgb(10, 15, 10),rgb(27, 29, 27));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
 
  h3{
    color: blanchedalmond;
  }
  p{
    color: blanchedalmond;

  }
 
  table{
    color: darkgrey;
  }
  nav .logo{
    color: white;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 110px;
  }
  nav{
    height: 70px;
    background: #000000;
    border-radius: 35px;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
   
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #080808;
  }
  nav ul li a:hover{
    color: #ff0909;
  }
  nav ul li a.active{
    color: #ffffff;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #080808;
    opacity: 0;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
 